@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <form method="post" action="/MicrosoftIdentity/Account/SignOut">
            <button class="nav-link btn btn-link" type="submit">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="/MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    // No code-behind needed for Blazor Server logout
}
